img {
  width: 80px;
  height: 100px;
}
#buttons {
  padding: 30px;
}
#buttons button {
  border: none;
  padding: 10px 20px;
  margin: 5px;
  background-color: rgb(0, 169, 152);
}

table {
  padding: 30px;
}
td,
th {
  width: 130px;
  text-align: center;
}

.delete-button {
  border: none;
  background-color: #fff;
  color: orangered;
  font-size: 24px;
}
